@model Department
@{
        //Layout = "_Layout3";
    ViewData["Title"]="Delete Department";
}

    <div class="container text-center">
        <div class="alert alert-danger align-items-center " role="alert">
            <div class="display-2" >
                Are you sure you want to delete @Model.Name ? 

            <form method="post">
            <a href="/Department" class="btn btn-secondary btn-lg">Cancel</a>
            <input type="hidden" asp-for=Id/>
            <input class="btn btn-danger btn-lg" type="submit" value="Delete"/>
                </form>
            </div>
        </div>
    </div>
