@using Day04App.Models
@model Course

@{
    //Layout = "_Layout3";
    ViewData["Title"] = "Add Student";
}
      
<div class="mb-3">
    <label asp-for=CrsName class="form-label"></label>
    <input asp-for=CrsName class="form-control" />
</div>



