@using Day04App.Models
@model Student

@{
        //Layout = "_Layout3";
    ViewData["Title"]="student Details";
}
    <div class="card text-center" style="width: 12rem;">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">ID : @Model.Id</h6>
            <h6 class="card-subtitle mb-2 text-muted">Location : @Model.Age</h6>
            <a href="/student" class="btn btn-secondary">Back</a>
        </div>
    </div>
