@{
    ViewData["Title"] = "Search Student";
}

<form  asp-controller="Student">


    <div class="mb-3">
        <label for=userInput class="form-label"></label>
        <input type="text" class="form-control" name="userInput" />
    </div>


    <input type="submit" class="btn btn-success m-3" value="Submit" />
</form>